{% extends "layout.html" %}

{% block content %}

<style>
    .button {
        -webkit-appearance: none;
        appearance: none;
        position: relative;
        border-width: 0;
        padding: 0 8px 12px;
        min-width: 10em;
        box-sizing: border-box;
        background: transparent;
        font: inherit;
        cursor: pointer;
    }

    .button-top {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 0;
        padding: 8px 16px;
        transform: translateY(0);
        text-align: center;
        color: #fff;
        text-shadow: 0 -1px rgba(0, 0, 0, .25);
        transition-property: transform;
        transition-duration: .2s;
        -webkit-user-select: none;
        user-select: none;
    }

    .button:active .button-top {
        transform: translateY(6px);
    }

    .button-top::after {
        content: '';
        position: absolute;
        z-index: -1;
        border-radius: 4px;
        width: 100%;
        height: 100%;
        box-sizing: content-box;
        background-image: radial-gradient(#3dcd9e, #369d8d);
        text-align: center;
        color: #fff;
        box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, .2), 0 1px 2px 1px rgba(255, 255, 255, .2);
        transition-property: border-radius, padding, width, transform;
        transition-duration: .2s;
    }

    .button:active .button-top::after {
        border-radius: 6px;
        padding: 0 2px;
    }

    .button-bottom {
        position: absolute;
        z-index: -1;
        bottom: 4px;
        left: 4px;
        border-radius: 8px / 16px 16px 8px 8px;
        padding-top: 6px;
        width: calc(100% - 8px);
        height: calc(100% - 10px);
        box-sizing: content-box;
        background-color: #38a19d;
        background-image: radial-gradient(4px 8px at 4px calc(100% - 8px), rgba(255, 255, 255, .25), transparent), radial-gradient(4px 8px at calc(100% - 4px) calc(100% - 8px), rgba(255, 255, 255, .25), transparent), radial-gradient(16px at -4px 0, white, transparent), radial-gradient(16px at calc(100% + 4px) 0, white, transparent);
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5), inset 0 -1px 3px 3px rgba(0, 0, 0, .4);
        transition-property: border-radius, padding-top;
        transition-duration: .2s;
    }

    .button:active .button-bottom {
        border-radius: 10px 10px 8px 8px / 8px;
        padding-top: 0;
    }

    .button-base {
        position: absolute;
        z-index: -2;
        top: 4px;
        left: 0;
        border-radius: 12px;
        width: 100%;
        height: calc(100% - 4px);
        background-color: rgba(0, 0, 0, .15);
        box-shadow: 0 1px 1px 0 black, inset 0 2px 2px rgba(0, 0, 0, .25);
    }
</style>

<section>
    <h1>Headers</h1>
    <button type="button" class="button" onclick="redirect('/header_centerbar')">
        <div class="button-top">CenterBar</div>
        <div class="button-bottom"></div>
        <div class="button-base"></div>
    </button>
    <button type="button" class="button" onclick="redirect('/header_leftbar')">
        <div class="button-top">LeftBar</div>
        <div class="button-bottom"></div>
        <div class="button-base"></div>
    </button>
    <button type="button" class="button" onclick="redirect('/header_rightbar')">
        <div class="button-top">RightBar</div>
        <div class="button-bottom"></div>
        <div class="button-base"></div>
    </button>
</section>

<section>
    <h1>Footers</h1>
    <button type="button" class="button" onclick="redirect('/fullpage_footer')">
        <div class="button-top">FullPage</div>
        <div class="button-bottom"></div>
        <div class="button-base"></div>
    </button>
    <button type="button" class="button" onclick="redirect('/hardcoded_footer')">
        <div class="button-top">HardCoded</div>
        <div class="button-bottom"></div>
        <div class="button-base"></div>
    </button>
    <button type="button" class="button" onclick="redirect('/listed_footer')">
        <div class="button-top">Listed</div>
        <div class="button-bottom"></div>
        <div class="button-base"></div>
    </button>
</section>

<section>
    <h1>Body Sections</h1>
    <button type="button" class="button" onclick="redirect('/background_change')">
        <div class="button-top">Changing Background</div>
        <div class="button-bottom"></div>
        <div class="button-base"></div>
    </button>
    <button type="button" class="button" onclick="redirect('/colour_change')">
        <div class="button-top">Changing Colour</div>
        <div class="button-bottom"></div>
        <div class="button-base"></div>
    </button>
    <button type="button" class="button" onclick="redirect('/sidepages')">
        <div class="button-top">SidePages</div>
        <div class="button-bottom"></div>
        <div class="button-base"></div>
    </button>
</section>


<section>
    <h1>Cards</h1>
    <button type="button" class="button" onclick="redirect('/wave')">
        <div class="button-top">Wave</div>
        <div class="button-bottom"></div>
        <div class="button-base"></div>
    </button>
    <button type="button" class="button" onclick="redirect('/dental_preference')">
        <div class="button-top">Dental Preference</div>
        <div class="button-bottom"></div>
        <div class="button-base"></div>
    </button>
</section>

<section>
    <h1>Register</h1>
    <button type="button" class="button" onclick="redirect('/register1')">
        <div class="button-top">Register-1</div>
        <div class="button-bottom"></div>
        <div class="button-base"></div>
    </button>
</section>

<section>
    <h1>Login</h1>
    <button type="button" class="button" onclick="redirect('/login1')">
        <div class="button-top">Login-1</div>
        <div class="button-bottom"></div>
        <div class="button-base"></div>
    </button>
    <button type="button" class="button" onclick="redirect('/flip')">
        <div class="button-top">Flip Login</div>
        <div class="button-bottom"></div>
        <div class="button-base"></div>
    </button>
</section>

<section>
    <h1>Banners</h1>
    <button type="button" class="button" onclick="redirect('/banner')">
        <div class="button-top">Banners</div>
        <div class="button-bottom"></div>
        <div class="button-base"></div>
    </button>
</section>


<script>
    function redirect(url) {
        window.location.href = url;
    }
</script>

{% endblock content %}